html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}
p{
  margin: 0;
}
body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1260px;
  padding: 0px 15px;
  margin: 0 auto;
}

.tel {
  font-size: 24px;
  line-height: 28px;
  color: #5AB800;
  text-transform: uppercase;
  font-weight: 700;

  &:hover {
    text-decoration: underline;
  }
}

.title {
  color: #229BC0;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 36px;
}